In [152]:
%matplotlib inline
import matplotlib.pyplot
import seaborn as sns
sns.set(rc={'figure.figsize':(15,6)})
import pandas as pd
from sklearn import tree
import numpy as np
np.random.seed(0)
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [153]:
train_data = pd.read_csv('dogs_n_cats.csv')

In [154]:
X_predict  = pd.read_json('test_set.json')

In [155]:
train_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [156]:
X_predict.head()

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      31    37.2         1        0                   0
1      21    25.2         1        1                   0
10     27    32.4         1        1                   0
11     32    38.4         1        1                   0
12     21    25.2         1        1                   0

In [157]:
X = train_data.drop(['Вид'], axis=1)

In [158]:
y = train_data['Вид']

In [159]:
# X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [160]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [161]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [162]:
p =clf.predict(X_predict)

In [163]:
list(p).count('собачка')

47

In [166]:
pd.Series(p).value_counts()

котик      53
собачка    47
dtype: int64